extends ./templates/main.jade

block title
  | Place

block content
  .container
    main.place-page
      .place-page__breadcrumbs
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link Главная
          li.breadcrumbs__item
            a.breadcrumbs__link Кафе и рестораны Волгограда
          li.breadcrumbs__item
            a.breadcrumbs__link Ресторан Волгоград
      .place-page__header.place-descr
        .place-descr__head.clearfix
          span.place-descr__tags Кафе, ресторан, бар, хинкальная
          .place-descr__subscription
            ul.place-descr__subs.clearfix
              - for (var i = 0; i < 6; i++)
                li.place-descr__sub
                  a.place-descr__sub-link
            .place-descr__subscribe
              .sticker-button
                button.button.button_subscr.button_check.sticker-button__button(disabled) Я подписан
                span.sticker 667
        .place-descr__name Ресторан «Онегин»
        .place-descr__rating
          span.place-descr__rating-stars.rating(data-rateit-readonly='true', data-rateit-value='3.5')
          span.place-descr__rating-text №13 из 289 в категории Кафе и рестораны Волгограда
        .place-descr__menu.clearfix
          ul.place-descr__tabs.tabs
            li.tabs__item
              a.tabs__link.tabs__link_active(href='#overview') Обзор
            li.tabs__item
              a.tabs__link(href='#reviews') Отзывы 
                span.tabs__number 118
            li.tabs__item
              a.tabs__link(href='#photos') Фотографии 
                span.tabs__number 34
            li.tabs__item
              a.tabs__link(href='#events') События 
                span.tabs__number 1
            li.tabs__item
              a.tabs__link(href='#sales') Акции 
                span.tabs__number 8
          .place-descr__actions
            .place-descr__favs
              button.button.button_second В закладки
            .place-descr__review
              button.button.button_first Оставить отзыв
      .place-page__body.place-overview.active#overview
        section.place-overview__gallery.place-overview-gallery
          .place-overview-gallery__back-container
            img.place-overview-gallery__back
          .place-overview-gallery__add-photo Добавить фото
          ul.place-overview-gallery__photos
            - for (var i = 0; i < 8; i++)
              li.place-overview-gallery__photo-item
                a.place-overview-gallery__photo-link
                  img.place-overview-gallery__photo
            li.place-overview-gallery__photo-item
                a.place-overview-gallery__photo-link
                  img.place-overview-gallery__photo
                  span.place-overview-gallery__more + 289
        section.place-overview__info.place-overview-info
          h2.place-overview-info__title Информация
          .place-overview-info__body
            dl.place-overview-info__info
              dt.place-overview-info__term Описание
              dd.place-overview-info__descr.text
                | Мы поощряем активность наших пользователей баллами, которые в дальнейшем можно будет обменивать на бонусы и скидки от партнеров программы. Как их получить? Для полу- чения подробной информации перейдите в наш раздел «Бонусная программа». (14pt) 
                a.place-overview-info__more.expand-text(data-expand='4') Показать полностью
            dl.place-overview-info__info
              dt.place-overview-info__term Кухня
              dd.place-overview-info__descr.text Итальянская, русская, французская, азиатская, европейская
            dl.place-overview-info__info
              dt.place-overview-info__term Средний счёт
              dd.place-overview-info__descr.text 700-1500 руб.
            dl.place-overview-info__info
              dt.place-overview-info__term Особенности
              dd.place-overview-info__descr.text Парковка, wi-fi
            dl.place-overview-info__info
              dt.place-overview-info__term Меню
              dd.place-overview-info__descr
                ul.place-overview-info__menus
                  - var menus = ['Барная карта', 'Основное меню', 'Коктейльная карта']
                  each menu in menus
                    li.place-overview-info__menu
                      a.place-overview-info__menu-link= menu
          ul.place-overview-info__socials
            li.place-overview-info__social
              a.place-overview-info__social-link.place-overview-info__social-link_vk ВКонтакте
            li.place-overview-info__social
              a.place-overview-info__social-link.place-overview-info__social-link_inst Instagram
            li.place-overview-info__social
              a.place-overview-info__social-link.place-overview-info__social-link_fb Facebook
        section.place-overview__ad.placepage-ad
          .placepage-ad__photo-container
            img.placepage-ad__photo
          .placepage-ad__body
            h3.placepage-ad__title BellevilleCafe
            span.placepage-ad__plate Реклама
            span.placepage-ad__rating.rating_14(data-rateit-value='3.5', data-rateit-readonly='true')
            span.placepage-ad__rating-number (118)
            span.placepage-ad__type Кафе, ресторан, бар, хинкальная
            span.placepage-ad__address Пр-т им. В.И. Ленина, 59, Волгоград, Волгоградская обл.
            p.placepage-ad__review … отлично для своей ценовой категории. Уютно, тихо. Вкусные завтраки в кафе внизу … 
        section.place-overview__add-review.placepage-add-review
          h2.placepage-add-review__title Оставьте отзыв
          form.placepage-add-review__form
            .placepage-add-review__rating
              .placepage-add-review__rating-text Оцените это место
              span.placepage-add-review__rating-stars.rating
            textarea.placepage-add-review__ta.textarea(placeholder='Вам понравилось? Напишите')
        section.place-overview__reviews.placepage-reviews
          .placepage-reviews__title Отзывы 
            span.placepage-reviews__number 189
          .placepage-reviews__body
            ul.placepage-reviews__list
              - for (var i = 0; i < 5; i++)
                li.placepage-reviews__item.placepage-review
                  .placepage-review__avatar-container.avatar.avatar_48
                    img.placepage-review__avatar
                  .placepage-review__body
                    .placepage-review__other
                    .placepage-review__name Катериночка Мяуковская
                    .placepage-review__info
                      span.placepage-review__subs 73 подписчика
                      span.placepage-review__point
                      span.placepage-review__reviews-number 183 отзыва
                    span.placepage-review__rating.rating(data-rateit-readonly='true', data-rateit-value='3.5')
                    p.placepage-review__text.text Итальянское кафе , по мне одна из самых вкусных кухонь нашего города, летом всегда можно посидеть на летней веранде с друзьями или же наедине с кальяном, отдельный плюс за прекрасные десерты и выпечку хлеба которую делают своими руками, просто объедение!  …
                    .placepage-review__extra.clearfix
                      time.placepage-review__date(datetime='2017-01-04T18:31') 4 января в 18:31
                      .placepage-review__actions
                        .placepage-review__like
                        .placepage-review__share
            span.placepage-reviews__more Показать ещё
        section.place-overview__events.place-overview-events
          .place-overview-events__title Мероприятия 
            span.place-overview-events__number 189
          .place-overview-events__body
            ul.place-overview-events__list
              - for (var i = 0; i < 3; i++)
                li.place-overview-events__item
                  .place-overview-events__image-container
                    img.place-overview-events__image
                  .place-overview-events__name Открытие памятника Пушкину в Онегине
                  time.place-overview-events__date(datetime='2016-03-28') 28 мар 2016
            .place-overview-events__more показать ещё
        section.place-overview__stocks.place-overview-stocks
          .place-overview-stocks__title Акции 
            span.place-overview-stocks__number 189
          .place-overview-stocks__body
            ul.place-overview-stocks__list
              - for (var i = 0; i < 3; i++)
                li.place-overview-stocks__item
                  .place-overview-stocks__image-container
                    img.place-overview-stocks__image
                  .place-overview-stocks__name Открытие памятника Пушкину в Онегине
                  time.place-overview-stocks__date(datetime='2016-03-28') 28 мар 2016
            .place-overview-stocks__more показать ещё
        section.place-overview__new-places.new-places
          .new-places__topic.topic
            span.topic__name новые места на foxy
          ul.new-places__list
            - for (var x = 0; x < 3; x++)
              li.new-places__item
                a.new-places__photo-container
                  img.new-places__photo
                .new-places__body
                  .new-places__info
                    span.new-places__name Ресторан Волгоград
                    span.new-places__rating.rating(
                      data-rateit-readonly='true'
                      data-rateit-value='3.5'
                      )

      .place-page__body.place-reviews#reviews
        section.place-reviews__add-review.placepage-add-review
          h2.placepage-add-review__title Оставьте отзыв
          form.placepage-add-review__form
            .placepage-add-review__rating
              .placepage-add-review__rating-text Оцените это место
              span.placepage-add-review__rating-stars.rating
            textarea.placepage-add-review__ta.textarea(placeholder='Вам понравилось? Напишите')
        section.place-reviews__reviews.placepage-reviews
          .placepage-reviews__title Отзывы 
            span.placepage-reviews__number 189
          .placepage-reviews__body
            ul.placepage-reviews__list
              - for (var i = 0; i < 5; i++)
                li.placepage-reviews__item.placepage-review
                  .placepage-review__avatar-container.avatar.avatar_48
                    img.placepage-review__avatar
                  .placepage-review__body
                    .placepage-review__other
                    .placepage-review__name Катериночка Мяуковская
                    .placepage-review__info
                      span.placepage-review__subs 73 подписчика
                      span.placepage-review__point
                      span.placepage-review__reviews-number 183 отзыва
                    span.placepage-review__rating.rating(data-rateit-readonly='true', data-rateit-value='3.5')
                    p.placepage-review__text.text Итальянское кафе , по мне одна из самых вкусных кухонь нашего города, летом всегда можно посидеть на летней веранде с друзьями или же наедине с кальяном, отдельный плюс за прекрасные десерты и выпечку хлеба которую делают своими руками, просто объедение!  …
                    .placepage-review__extra.clearfix
                      time.placepage-review__date(datetime='2017-01-04T18:31') 4 января в 18:31
                      .placepage-review__actions
                        .placepage-review__like
                        .placepage-review__share
            span.placepage-reviews__more Показать ещё
        section.place-reviews__new-places.new-places
          .new-places__topic.topic
            span.topic__name новые места на foxy
          ul.new-places__list
            - for (var x = 0; x < 3; x++)
              li.new-places__item
                a.new-places__photo-container
                  img.new-places__photo
                .new-places__body
                  .new-places__info
                    span.new-places__name Ресторан Волгоград
                    span.new-places__rating.rating(
                      data-rateit-readonly='true'
                      data-rateit-value='3.5'
                      )

      .place-page__body.place-photos#photos
        section.place-photos__main
          .place-photos__title Фотографии 
            span.place-photos__number 189
          .place-photos__body
            form.place-photos__add-files
              span.place-photos__add-back
              .place-photos__add
                button.button.button_second Загрузите файлы
              span.place-photos__add-string или перетащите их мышью
            ul.place-photos__list
              - for (var i = 0; i < 15; i++)
                li.place-photos__item.place-photo-item
                  a.place-photo-item__link
                    img.place-photo-item__photo
            .place-photos__more показать еще
        section.place-photos__new-places.new-places
          .new-places__topic.topic
            span.topic__name новые места на foxy
          ul.new-places__list
            - for (var x = 0; x < 3; x++)
              li.new-places__item
                a.new-places__photo-container
                  img.new-places__photo
                .new-places__body
                  .new-places__info
                    span.new-places__name Ресторан Волгоград
                    span.new-places__rating.rating(
                      data-rateit-readonly='true'
                      data-rateit-value='3.5'
                      )

      .place-page__body.place-events#events
        section.place-events__main
          .place-events__title События 
            span.place-events__number 9
          ul.place-events__list
            - for (var i = 0; i < 3; i++)
              li.place-events__item.place-event
                .place-event__photo-container
                  img.place-event__photo
                .place-event__body
                  a.place-event__link
                    h3.place-event__title Готовим сырный завтрак в Гуакамоле
                  .place-event__descr
                    a.place-event__sublink Гуакамоле,
                    time.place-event__date(datetime='2016-02-23T18:00') 23 февраля 2016, сб 18:00
                  .place-event__type Событие
        section.place-events__new-places.new-places
          .new-places__topic.topic
            span.topic__name новые места на foxy
          ul.new-places__list
            - for (var x = 0; x < 3; x++)
              li.new-places__item
                a.new-places__photo-container
                  img.new-places__photo
                .new-places__body
                  .new-places__info
                    span.new-places__name Ресторан Волгоград
                    span.new-places__rating.rating(
                      data-rateit-readonly='true'
                      data-rateit-value='3.5'
                      )

      .place-page__body.place-sales#sales
        section.place-sales__main
          .place-sales__title Акции 
            span.place-sales__number 9
          ul.place-sales__list
            - for (var i = 0; i < 3; i++)
              li.place-sales__item.place-sale
                .place-sale__photo-container
                  img.place-sale__photo
                .place-sale__body
                  a.place-sale__link
                    h3.place-sale__title Готовим сырный завтрак в Гуакамоле
                  .place-sale__descr
                    a.place-sale__sublink Гуакамоле,
                    time.place-sale__date(datetime='2016-02-23T18:00') 23 февраля 2016, сб 18:00
                  .place-sale__type Акция
        section.place-sales__new-places.new-places
          .new-places__topic.topic
            span.topic__name новые места на foxy
          ul.new-places__list
            - for (var x = 0; x < 3; x++)
              li.new-places__item
                a.new-places__photo-container
                  img.new-places__photo
                .new-places__body
                  .new-places__info
                    span.new-places__name Ресторан Волгоград
                    span.new-places__rating.rating(
                      data-rateit-readonly='true'
                      data-rateit-value='3.5'
                      )

      aside.place-page__sidebar
        .place-page__rating.place-rating#rating
          .place-rating__topic.topic
            span.topic__name отзывы с оценкой
          ul.place-rating__list
            - for (var i = 5; i > 0; i--)
              li.place-rating__item
                span.place-rating__stars.rating(data-rateit-readonly='true', data-rateit-value='#{i}')
                span.place-rating__number= i
                  |  отзыва
        .place-page__contacts.place-contacts
          .place-contacts__map#map
          .place-contacts__body
            .place-contacts__main
              .place-contacts__name Ресторан Волгоград
              p.place-contacts__address Пр-т им. В.И. Ленина, 59, Волгоград, Волгоградская обл.
            .place-contacts__schedule Пт-сб 08:00-24:00 
              a.place-contacts__schedule-link Все расписание
            .place-contacts__phone +7 988 025 14 61
            .place-contacts__site 
              a.place-contacts__site-link datasite.ru
          a.place-contacts__owners Для владельцев
          a.place-contacts__fix Исправить неточность
        .place-page__city-events.city-events
          .city-events__topic.topic
            span.topic__name мероприятия волгограда
          .city-events__body
            ul.city-events__list
              - for (var x = 0; x < 5; x++)
                li.city-events__item.city-event
                  .city-event__image-container.place.place_48
                    img.city-event__image
                  .city-event__body
                    span.city-event__name Berkeley Restaurant Week
                    span.city-event__place Cinnabon
                    time.city-event__dates 26 сент 2017 — 28 окт 2018
          .city-events__footer
            a.city-events__more Все мероприятия
        .place-page__blog.blog
          .blog__topic.topic
            span.topic__name наш блог
          ul.blog__list
            - for (var x = 0; x < 3; x++)
              li.blog__item
                a.blog__photo-container
                  img.blog__photo
                .blog__descr
                  .blog__info
                    time.blog__date 26 сент 2017
                    span.blog__text Тонкости выбора ботинок для горных лыж
        .place-page__discussions.discussions
          .discussions__topic.topic
            span.topic__name обсуждения
          ul.discussions__list
            - for (var x = 0; x < 3; x++)
              li.discussions__item.discus-item
                .discus-item__avatar-container.avatar.avatar_48
                  img.discus-item__avatar
                .discus-item__body
                  span.discus-item__name Катериночка Мяуковская
                  span.discus-item__info Сегодня в 19:30 к «Доставка вкусностей в любой район города» в @placename
                  p.discus-item__text.text(data-expand='3')
                    | Итальянское кафе , по мне одна из самых вкусных кухонь нашего города, лето … 
                    a.discus-item__more.expand-text Читать полностью
  script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')