extends ./templates/main.jade

block title
  | Signin

block content
  .container
    main.auth
      .auth__breadcrumbs
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link Главная
          li.breadcrumbs__item
            a.breadcrumbs__link Регистрация
      .auth__window.auth__window_lg
        .auth__head
          h1.auth__title Регистрация
        .auth__body
          form.auth__registration.register
            .register__input.input-box
              input.text-input.input-box__input(type='text', placeholder='Ваша электронная почта', pattern=".*", required)
            .register__input.input-box
              input.text-input.input-box__input(type='text', placeholder='Ваше имя', pattern=".*", required)
            .register__input.input-box
              input.text-input.input-box__input(type='text', placeholder='Придумайте пароль', pattern=".*", required)
            .register__input.input-box
              input.text-input.input-box__input(type='text', placeholder='Подтвердите пароль введя его еще раз', pattern=".*", required)
            .register__address
              .register__country.select-box
                select.select
                  option(default, data-disabled) Страна
                  - for (var x = 1; x <= 5; x++)
                    option(value='#{x}') Пункт #{x}
              .register__city.select-box
                select.select
                  option(default, data-disabled) Город
                  - for (var x = 1; x <= 5; x++)
                    option(value='#{x}') Пункт #{x}
            span.register__birth Дата рождения
            .register__date
              .select-box
                select.select
                  option(default, data-disabled) День
                  - for (var x = 1; x <= 5; x++)
                    option(value='#{x}') Пункт #{x}
            .register__month
              .select-box
                select.select
                  option(default, data-disabled) Месяц
                  - for (var x = 1; x <= 5; x++)
                    option(value='#{x}') Пункт #{x}
            .register__year
              .select-box
                select.select
                  option(default, data-disabled) Год
                  - for (var x = 1; x <= 5; x++)
                    option(value='#{x}') Пункт #{x}
            span.register__gender Ваш пол
            .register__radio.radio-box
              .radio.radio-box__radio
                input.radio__input#radio1(type='radio', name='radio')
                label.radio__label(for='radio1')
              label.radio-box__label(for='radio1') Мужской
            .register__radio.radio-box
              .radio.radio-box__radio
                input.radio__input#radio2(type='radio', name='radio')
                label.radio__label(for='radio2')
              label.radio-box__label(for='radio2') Женский
            .register__captcha
              .register__captcha-field.input-box
                label.input-box__label Введите код с картинки
                input.text-input.input-box__input(type='text', pattern=".*", required)
              .register__captcha-img
            button.button.button_first.register__create Зарегистрироваться
      .auth__acc Уже есть аккаунт? 
        a.auth__register Войти